@model LibSys.Models.Entities.Borrowing

@{
    ViewData["Title"] = "Usuwanie wypożyczenia";
    var borrowDate = Model.BorrowDate.ToString("dd.MM.yyyy");
    var returnDate = Model.ReturnDate.ToString("dd.MM.yyyy");
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz oddać książkę?</h3>
<div>
    <h4>Wypożyczenie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @borrowDate
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @returnDate
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Id), 
            @Html.DisplayFor(model => model.Book.BookDefinition.Title), 
            @Html.DisplayFor(model => model.Book.BookDefinition.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reader.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
