@model IEnumerable<LibSys.Models.Entities.Book>

@{
    ViewData["Title"] = "Książki";
}

<h1>Książki</h1>

<p>
    <a asp-action="Create">Dodaj książkę</a>
</p>
<table id="dataTable" class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.BookDefinitionId)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookDefinition.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    new DataTable('#dataTable', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pl.json',
        },
    });
</script>